.Subtotal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 70px;
    
}

.ItemImg {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}